h1 {
  margin-top: 0;
}

.container__block-1-h1 {
  color: #502050;
  font-size: 3.6vw;
  line-height: 4vw;
}

.container__block-1-p1 {
  font-size: 1.1vw;
  line-height: 1.8vw;
  margin-top: 2vh;
  color: #937b92;
}

.inner-pb-texts {
  margin-top: 3.7vh;
}

.container__up-inner-pb-text {
  background-color: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  height: 2vh;
  position: relative;
  margin-bottom: 0.2vh;
}

.container__low-inner-pb-text {
  background-color: none;
  color: #937b92;
  font-size: 0.95em;
  font-weight: bold;
  height: 2vh;
}

.lower-pb-text {
  background-color: none;
  color: white;
  height: 12vh;
  margin: 1.5vw;
  font-size: 0.91em;
  line-height: 2.5vh;
  overflow-x: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
  font-family: 'Spartan', sans-serif;
}

.img {
  width: 15%;
  height: auto;
}

.person-img {
  border-radius: 50vw;
  height: 3.5vw;
  width: 3.5vw;
  margin-top: 3.2vh;
  margin-left: 2.7vh;
  margin-right: 2.7vh;
  margin-bottom: 2.5vh;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: 45vw,90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__block-1 {
  height: 30vh;
  width: 33vw;
  background-color: none;
  position: relative;
  top: 15vh;
  left: 10vw;
}

.container__block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: none;
  height: 30vh;
  width: 35vw;
  position: relative;
  left: 50vw;
  bottom: 17vh;
}

.container__block-2 .container__review1 {
  background-color: #f7f2f7;
  border-radius: 0.5vw;
  padding: 1.5vh;
  width: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 4vh;
}

.container__block-2 .container__review2 {
  background-color: #f7f2f7;
  border-radius: 0.5vw;
  padding: 1.5vh;
  width: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 3vw;
}

.container__block-2 .container__review3 {
  background-color: #f7f2f7;
  border-radius: 0.5vw;
  width: 32vw;
  padding: 1.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 4vh;
  left: 7vw;
}

.container__block-2 .container__imagesstars {
  height: 1.7vh;
  width: 9.2vw;
  margin-right: 1.2vw;
  margin-left: 1.2vw;
}

.container__block-2 .container__block-2-p2 {
  font-size: 1.2vw;
  color: #502050;
}

.container__big-block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 82vw;
  background-color: none;
  position: relative;
  bottom: 10vh;
  left: 10vw;
}

.container__p-b-1 {
  background-color: #502050;
  height: 28vh;
  width: 40vw;
  border-radius: 0.5vw;
  position: relative;
  bottom: 2vh;
}

.container__p-b-2 {
  background-color: #502050;
  height: 28vh;
  width: 40vw;
  border-radius: 0.5vw;
  margin-left: 2.5vw;
}

.container__p-b-3 {
  background-color: #502050;
  border-radius: 0.5vw;
  height: 28vh;
  width: 40vw;
  margin-left: 2.5vw;
  position: relative;
  top: 2vh;
}

.container .container__upper-person-text-img {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */