h1 {
    margin-top: 0;
}

.container__block-1-h1{
    color:$magenta;
    font-size: 3.6vw;
    line-height:4vw;
}
.container__block-1-p1{
            
    font-size:1.1vw;
    line-height: 1.8vw;
    margin-top: 2vh;
    color:$lightpurple;
    
}

.inner-pb-texts{
    margin-left:2vw;
    margin-top:0.5vw;
}
.container__up-inner-pb-text{
    background-color:none;
    color:$white;
    font-size: 1.1vw;
    font-weight: bold;
    margin-bottom:0.2vw;
}
  

.container__low-inner-pb-text{
    background-color:none;
    color:$pink;
    font-size: 1.01vw;
    font-weight: bold;
    
}
.lower-pb-text{
   
    background-color:none;
    color:$white;
    height: 12vh;
    margin:1.5vw;
    font-size: 0.96vw;
    line-height: 2.5vh;
    overflow-x: auto;
}
