h1 {
    margin-top: 0;
}

.container__block-1-h1{
    color:$magenta;
    font-size: 3.6vw;
    line-height:4vw;
}
.container__block-1-p1{
            
    font-size:1.1vw;
    line-height: 1.8vw;
    margin-top: 2vh;
    color:$lightpurple;
    
}
.container__up-inner-pb-text{
    
}
