@mixin landscape() {

.person-img{
    border-radius: 50%;
    max-width:10%;
    
}

.container{
    height:330vh;//
    width:100vw;
    margin:0 auto;
    background-color:none;
    flex-direction: column;
    background-size: 93vw 45vw,80vw 95vw;
   
    
    .big-container-1{
        
        display: flex;
        flex-direction: column;
        margin-top:4.5em;
        margin-right:2.8em;
       }
   
    &__block-1{
        background-color:none;
        text-align: center;
        width:85vw;
        margin:0 auto;
        

        .container__block-1-h1{
            font-size: 2rem;
            line-height:1.9rem;
            margin: 0 auto;
        }

       
        .container__block-1-p1{  
            background-color:none;   
            font-size:0.6rem;
            line-height: 1rem;
            margin-top:1em;
    
        }
       
    }
    

    &__block-2{
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 3em;
    background-color:none;
    height: 30vh;
    width:85vw;
        

        .container__review1{
        background-color:$lightgray;
        border-radius: 2vw;
        flex-direction: column;
        margin:0 auto;
        height: 10vh;
        }
        .container__review2{
        background-color:$lightgray;
        border-radius: 2vw;
        margin: 0 auto;
        margin-top: 0.5em;
        flex-direction: column;
        height: 10vh;
       
        }
          .container__review3{
            background-color:$lightgray;
            border-radius: 2vw;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 0.5em;
            height: 10vh;
          }
        .container__imagesstars{
            background-color:none;
            height:3vh;
            width:25vw;
            margin-left:24vw;
            margin-top: 0em;
            margin-bottom:0vw;  
        }
        .container__block-2-p2{
            background-color:none;
            width: 48vw;
            font-size:1.5vw;
            color:$magenta; 
            margin-left:9.5rem;
           
        }
    }
    &__big-block-3{
        background-color:none;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width:85vw; 
        margin-right:2.3em;
        margin-top: 28em;
    }
    
    &__p-b-1{
        
       height: 50vh;
        width: 74vw;
        border-radius: 2vw;  
        margin: 0 auto;
        margin-left:1em;
        text-align: center;
    }

    &__p-b-2{     
      
        height: 50vh;
        width: 74vw;
        border-radius: 2vw;
        margin:0 auto;
        margin-top: 1em;
        margin-left:1em;
        text-align: center;
    }
    &__p-b-3{
       
        border-radius: 2vw;
        height: 50vh;
        width:74vw;
        margin:0 auto;
        margin-top:1em;
        margin-left:1em;
        text-align: center;
        
    }
    //big container block3
    .container__upper-person-text-img{
        background-color:none;
        display: flex;
        margin-left:10em;
        margin-top:2em;
    } 
    
    
    .container__up-inner-pb-text{
        font-size: 0.8rem;
    }
      
    
    .container__low-inner-pb-text{
      
        font-size: 0.8rem;
         
    }
    .lower-pb-text{
        margin-top:1em;
        font-size:0.7rem;
        line-height: 1.3rem;
         
    }
}   
}