@mixin nesthub(){
    body{
        background-color: red;
    }
    .person-img{
        border-radius: 50%;
        max-width:17%;
        height: auto;
        
    }
    .container{ 
        height: 100vh; 
        width:100%;
        margin-top: 0em;
    
            .big-container-1{
            
             margin-top: 3em;//
             height: 45vh;//
             width:90%;//
             background-color:none;
            }
        
    
        &__block-1{
            width:42vw;
            background-color:none;
            margin-top: 0em;
            margin-left: 2em;
           
           .container__block-1-h1{
            font-size:4vw;//
            line-height: 4vw;//
        }

        .container__block-1-p1{
        margin-top:1em;//
        font-size: 0.89rem;//
        line-height: 1.5rem;//
        }

        }
    
        &__block-2{
            
       
        justify-content: space-between;//
            background-color:none;//
            height: 42vh;//
            width:42vw;//
           
    
            .container__review1{
            height: 5vh;//
            }
            .container__review2{
            height: 5vh;//
            }
              .container__review3{ 
                height: 5vh;//
              }

            .container__imagesstars{
                height:3vh;
                width:9vw;
                margin-top: 0.3em;
                margin-left:1em;
                margin-right:2em;//
                
            }
            .container__block-2-p2{
                background-color: none;
                width:15vw;//
                margin-top: 0.3em;//
                font-size:1.2vw;//
                white-space:normal;//
            }
        }

        &__big-block-3{
            justify-content:center;//
            height: 45vh;//
            width:95%;//
            background-color:none;

        }
        
        &__p-b-1{
            background-color: $magenta;
            height: 35vh;
            width: 30%;
            border-radius: 0.5vw;   
        } 
    
        &__p-b-2{
            background-color: $magenta;
            width:30%;
            height: 35vh;
            border-radius: 0.5vw;
            margin-left:1em; 
            margin-top: 1em; 
        }
        &__p-b-3{
            background-color: $magenta;
            border-radius: 0.5vw;
            width: 30%;
            height: 35vh;
            margin-left:1em;
            margin-top: 2em; 
           
        }
        //big container block3
        .container__upper-person-text-img{
            margin-top:0.4em;
        }  
        .inner-pb-texts{
            margin-left:1.5em;
            margin-top: 0.6em;
            }
            .container__up-inner-pb-text{
            font-size:1rem;
            margin-bottom: 0.2em;
            }
            
            .container__low-inner-pb-text{
              font-size:0.9rem;
            }
            .lower-pb-text{
                color:$white;
                margin:2em 1em 3em 2em;
                margin-top: 0.5em;
                font-size: 0.72em;
                line-height: 1.6rem;
            }
    }
}