@mixin smtablet() {
    .container{
        
      
        width:100vw;
        margin:0 auto;
        background-color:none;
        flex-direction: column;
        background-size: 93vw 45vw,80vw 95vw;
       
        
        .big-container-1{
            display: flex;
            flex-direction: column;
            margin-top:4.5em;
           }
       
        &__block-1{
            background-color:none;
            text-align: center;
            width:85vw;
            margin:0 auto;    
        }
        
    
        &__block-2{
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0 auto;
        margin-top: 1em;
        background-color:none;
        height: 30vh;
        width:85vw;
            
    
            .container__review1{
            background-color:$lightgray;
            border-radius: 2vw;
            flex-direction: column;
            margin:0 auto;
            }
            .container__review2{
            background-color:$lightgray;
            border-radius: 2vw;
            margin: 0 auto;
            
            flex-direction: column;
           
            }
              .container__review3{
                background-color:$lightgray;
                border-radius: 2vw;
                flex-direction: column;
                margin: 0 auto;
            
              }
            .container__imagesstars{
                background-color:none;
                height:3vh;
                width:25vw;
                margin-left:24vw;
                margin-bottom:0vw;
                position: relative;
                top:0.5vh;
                
            }
            .container__block-2-p2{
                background-color:none;
                width: 48vw;
                font-size:2.8vw;
                color:$magenta; 
                margin-left:16vw;
                position: relative;
                top:2vw;
            }
        }
        &__big-block-3{
            background-color:none;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width:85vw; 
        }
        
        &__p-b-1{
            
           height: 34vh;
            width: 74vw;
            border-radius: 2vw;  
            margin: 0 auto;
            margin-left:2em;
            
        }
    
        &__p-b-2{     
          
            height: 34vh;
            width: 74vw;
            border-radius: 2vw;
            margin:0 auto;
            margin-top: 1em;
            margin-left:2em;
        }
        &__p-b-3{
           
            border-radius: 2vw;
            height: 34vh;
            width:74vw;
            margin:0 auto;
            margin-top:1em;
            margin-left:2em;
            
        }
        .container__up-inner-pb-text{
            font-size: 0.9rem;
        }
          
        
        .container__low-inner-pb-text{
          
            font-size: 0.9rem;
             
        }
        .container__block-1-h1{
            background-color:none;
            font-size:8.8vw;
            line-height:8vw;
            margin: 0 auto;
        }

       
        .container__block-1-p1{  
            background-color:none;   
            font-size:2.8vw;
            line-height:4vw;
            margin-top:1em;
    
        }
        
        .lower-pb-text{
            margin-top:1.5em;
            font-size:2.6vw;
            line-height: 1.5rem;
             
        } 

}

}