@import "./variables";
@import"./fonts";
@import"./mobile";
@import "./smtablet";
@import "./mdtablet";
@import "./extrasmallcell";
@import "./medlargetablet";
@import "./nesthub";
*{
    margin:0;
    padding:0;
}

body{
    background-color:blue;
    font-family: 'Spartan', sans-serif;   
}
//usual desktop 1440 x 1024
.img{
    max-width: 100%;
    height: auto;
}

.person-img{
    border-radius: 50%;
    max-width:15%;
    
}

.container{ 

   
    width:100%;
    height: 100vh;
    max-width:1500px;//limit size
    background-color:$white;
    background-image: url('/images/bg-pattern-top-desktop.svg'),url('/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 45% 50%,90% 85%;
    margin:0 auto;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
   
        .big-container-1{
         display: flex;
         margin:0 auto;
         margin-top: 8em;
         width:80%;
         background-color:none;
        }
    

    &__block-1{
        
        height:30vh;
        width:33vw;
        background-color:none;
       margin-top: 0em;
       margin-left: 5em;
    }

    &__block-2{
        
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
        background-color:none;
        height:30vh;
        width:35vw;
       

        .container__review1{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:80%;
        display: flex;
        margin-top: 1.2em;
        padding: 0.9em;
      
        }
        .container__review2{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:80%;
        display: flex;
        margin-top: 0.5em;
        margin-bottom:0em;
        margin-left: 1em;
        padding: 0.9em;
        }
          .container__review3{
            background-color:$lightgray;
            border-radius: 0.5vw;
            width:80%;
            padding:1.5vh;
            display:flex;
            margin-top: 0.5em;
            margin-bottom:3em;
            margin-left: 2em;
            padding: 0.9em;
          }
        .container__imagesstars{
            background-color:none;
            height:1.7vh;
            width:8vw;
            margin-left:1em;
            white-space: nowrap;
            
        }
        .container__block-2-p2{
            
            margin-left:1em;
            
            font-size:0.67rem;
            color:$magenta; 
            white-space: nowrap;
        }
    }
    &__big-block-3{
        display: flex;
        justify-content: center;
        align-items: center;
        width:80%;
        background-color:none;
        margin:0 auto;
        margin-top:2em;
        margin-bottom: 5em;
    }
    
    &__p-b-1{
        background-color: $magenta;
        width: 26.5%;
        border-radius: 0.5vw;   
    } 

    &__p-b-2{
        background-color: $magenta;
        width: 26.5%;
        border-radius: 0.5vw;
        margin-left:1em; 
        margin-top: 1em; 
    }
    &__p-b-3{
        background-color: $magenta;
        border-radius: 0.5vw;
        width: 26.5%;
        margin-left:1em;
        margin-top: 2em; 
       
    }
    //big container block3
    .container__upper-person-text-img{
        background-color:none;
        display: flex;
        margin-left:2em;
        margin-top:2em;
    }  
}

//medium to big line breaks
@media screen and (min-width: 417px) and (max-width: 2000px) {
	// do something in this width range.
    .content1::before{
        content: "\a";
        white-space:pre;
    }
}
//extra small cell media
@media screen and (max-width:370px) {    
    @include extrasmallcell();
    }

//cel media
@media screen and (min-width:371px)and(max-width:417px) {    
   @include mobile();// cell media mixin
}

//medium sm device query
@media screen and (min-width:417px) and (max-width:600px) { 
    @include smtablet();
}

//medium med device quey
@media screen and (min-width:601px) and (max-width:990px){
    @include mdtablet();
}
//medium lg device query ipad pro
@media screen and (min-width:991px) and (max-width:1100px){
    @include medlargetablet();
}
//nest hub res
@media screen and (max-height:601px){
    @media screen and (min-width:991px) and (max-width:1100px){
        @include nesthub();
    }    
}



