@import "./variables";
@import"./fonts";
@import"./mobile";
*{
    margin:0;
    padding:0;
}

body{
    background-color:none;
    font-family: 'Spartan', sans-serif;   
}
//usual desktop 1440 x 1024
.img{
    width: 15%;
    height: auto;
}

.person-img{
    border-radius: 50vw;
    height: 3.5vw;
    width: 3.5vw;
    
}

.container{

    height: 100vh;
    width:100vw;
    background-color:$white;
    background-image: url('/images/bg-pattern-top-desktop.svg'),url('/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 45vw,90vw;
    display: flex;
    flex-direction: column;
   
    &__block-1{
        
        height:30vh;
        width:33vw;
        background-color:none;
        position:relative;
        top:15vh;
        left:10vw;
    }

    &__block-2{
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
         background-color:none;
        height:30vh;
        width:35vw;
        position: relative;
        left:50vw;
        bottom:1vh;

        .container__review1{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:32vw;
        display: flex;
        position: relative;
        top: 4vh;
        }
        .container__review2{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:32vw;
        display: flex;
        position: relative;
        left:3vw;
        }
          .container__review3{
            background-color:$lightgray;
            border-radius: 0.5vw;
            width:32vw;
            padding:1.5vh;
            display:flex;
            position: relative;
            bottom:4vh;
            left:7vw;
          }
        .container__imagesstars{
            height:1.7vh;
            width:9.4vw;
            margin-right:1.2vw;
            margin-left:1.2vw;
            
        }
        .container__block-2-p2{
            
            font-size:1.2vw;
            color:$magenta; 
        }
    }
    &__big-block-3{
        display: flex;
        justify-content: center;
        align-items: center;
        height:30vh;
        width:82vw;
        background-color:none;
        position:relative;
        left:10vw;
        margin-bottom: 20vh;
    }
    
    &__p-b-1{
        background-color: $magenta;
        height: 28vh;
        width: 40vw;
        border-radius: 0.5vw;   
        position: relative;
        bottom:2vh;
    }

    &__p-b-2{
        background-color: $magenta;
        height: 28vh;
        width: 40vw;
        border-radius: 0.5vw;
        margin-left:2.5vw;  
    }
    &__p-b-3{
        background-color: $magenta;
        border-radius: 0.5vw;
        height: 28vh;
        width: 40vw;
        margin-left:2.5vw;
        position: relative;
        top:2vh;
    }
    //big container block3
    .container__upper-person-text-img{
        background-color:none;
        display: flex;
        margin-left:1.5vw;
        margin-top:3vw;
    }
   
}

@media screen and (max-width:416px) {
    
    .container{
        height: 100vh;
        width:100vw;
        background-color: transparent;
        flex-direction: column;
        background-size: 100vw 45vw,80vw;
        margin:0;
       
        &__block-1{
            background-color:transparent;
            text-align: center;
            height:20vh;
            width:100vw;
            top:8vh;
            left:0vw;
            .container__block-1-h1{
                font-size: 8vw;
                line-height:7.5vw;
            }
            .container__block-1-p1{  
              
                background-color: yellow;
                height:18vw;
                width:80vw;      
                font-size:2.7vw;
                line-height: 4vw;
                margin-top: 2vh;
                margin-left:8vw;
                color:$lightpurple;  
            }
           
        }
    
        &__block-2{
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            background-color:greenyellow;
            height:15vh;
            width:80vw;
            position: relative;
            left:8vw;
            top:15vh;
    
            .container__review1{
            background-color:$lightgray;
            border-radius: 1vw;
            padding:2vh;
            height: 1vw;
            width:70vw;
            top:0vh;
            left:1.5vw;
            flex-direction: column;
            }
            .container__review2{
            background-color:$lightgray;
            border-radius: 1vw;
            padding:2vh;
            height: 1vw;
            width:70vw;
            flex-direction: column;
            position: relative;
            top:1vw;
            left:1.5vw;
            }
              .container__review3{
                background-color:$lightgray;
                border-radius: 1vw;
                height:1vw;
                width:70vw;
                padding:2vh;
                flex-direction: column;
                position: relative;
                top:2vw;
                left:1.5vw;
              }
            .container__imagesstars{
                background-color:none;
                height:1.7vh;
                width:18vw;
                margin-left:26vw;
                margin-bottom:0vw;
                position: relative;
                bottom:2vh;
                
            }
            .container__block-2-p2{
                background-color: blue;
                width: 35vw;
                font-size:2.5vw;
                color:$magenta; 
                margin-left:15vw;
                position: relative;
                bottom:1vw;
            }
        }
        &__big-block-3{
            background-color: lightblue;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height:42vh;
            width:80vw;
            background-color:none;
            position:relative;
            top:17vh;
            left:8vw;
           
        }
        
        &__p-b-1{
            background-color:$magenta;
            height: 12vh;
            width: 79vw;
            border-radius: 2vw;   
            position: relative;
            bottom:1vh;
        }
    
        &__p-b-2{     
            background-color: none;
            height: 12vh;
            width: 79vw;
            border-radius: 2vw;
            margin-left:0vw;  
        }
        &__p-b-3{
            background-color:$magenta;//$magenta;
            border-radius: 2vw;
            height: 12vh;
            width: 79vw;
            margin-left:0vw;
            position: relative;
            top:1vh;
        }
        //big container block3
        .container__upper-person-text-img{
            background-color:none;
            display: flex;
            margin-left:0vw;
            margin-top:3vw;
        }
        .inner-pb-texts{
            margin-left:2vw;
            margin-top:0.4vw;
        }
        .container__up-inner-pb-text{
            background-color:none;
            color:$white;
            font-size: 2vw;
            font-weight: bold;
            margin-bottom:0.2vw;
        }
          
        
        .container__low-inner-pb-text{
            background-color:none;
            color:$pink;
            font-size: 2vw;
            font-weight: bold;
            
        }
        .lower-pb-text{
           
            background-color:black;
            color:$white;
            height: 5vh;
            margin-left:0;
            font-size: 2vw;
            line-height: 2vw;
            overflow-x: auto;
        }
    }    
      
    
}

