@import "./variables";
@import"./fonts";
*{
    margin:0;
    padding:0;
}

body{
    background-color:blue;
    font-family: 'Spartan', sans-serif;  
    
}
//usual desktop 1440 x 1024
.img{
    width: 15%;
    height: auto;
}

.person-img{
    border-radius: 50vw;
    height: 3.5vw;
    width: 3.5vw;
    margin-top:3.2vh;
    margin-left:2.7vh;
    margin-right:2.7vh;
    margin-bottom: 2.5vh;
}


.container{
    
    height: 100vh;
    width:100vw;
    background-color:$white;
    background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 45vw,90vw;
    display: flex;
    flex-direction: column;
   
    &__block-1{
        
        height:30vh;
        width:33vw;
        background-color:none;
        position:relative;
        top:15vh;
        left:10vw;
        
        

    }

    &__block-2{
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
         background-color:none;
        height:30vh;
        width:35vw;
        position: relative;
        left:50vw;
        bottom:17vh;

        .container__review1{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:32vw;
        display: flex;
        position: relative;
        top: 4vh;
        }
        .container__review2{
        background-color:$lightgray;
        border-radius: 0.5vw;
        padding:1.5vh;
        width:32vw;
        display: flex;
        position: relative;
        left:3vw;
        }
          .container__review3{
            background-color:$lightgray;
            border-radius: 0.5vw;
            width:32vw;
            padding:1.5vh;
            display:flex;
            position: relative;
            bottom:4vh;
            left:7vw;
          }
        .container__imagesstars{
            height:1.7vh;
            width:9.2vw;
            margin-right:1.2vw;
            margin-left:1.2vw;
            
        }
        .container__block-2-p2{
            
            font-size:1.2vw;
            color:$magenta;
            
        }
    }



    &__big-block-3{
        display: flex;
        justify-content: center;
        align-items: center;
        

        height:30vh;
        width:82vw;
        background-color:none;
        position:relative;
        bottom:10vh;
        left:10vw

    }
    
    &__p-b-1{
        background-color: $magenta;
        height: 28vh;
        width: 40vw;
        border-radius: 0.5vw;   
        position: relative;
        bottom:2vh;
    }

    &__p-b-2{
        background-color: $magenta;
        height: 28vh;
        width: 40vw;
        border-radius: 0.5vw;
        margin-left:2.5vw;
        
    }
    &__p-b-3{
        background-color: $magenta;
        border-radius: 0.5vw;
        height: 28vh;
        width: 40vw;
        margin-left:2.5vw;
        position: relative;
        top:2vh;
    }
    //big container block3
    .container__upper-person-text-img{
        background-color:none;
        display: flex;
        

    }
    


}
